@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

.popup {
  text-align: center;
  position: fixed;
  width: 100%;
  height: 70%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 10%;
}
.popupInner {
  text-align: center;
  margin-left: 30%;
  border: 5px #bebcbce6 solid;
  border-radius: 20px;
  height: 100%;
  width: 40%;
  background-color: rgba(255, 249, 249, 0.5);
}
.buttons {
  display: flex;
  justify-content: space-evenly;
}
Form h1 {
  font-family: "Roboto", sans-serif;
  color: black;
}
form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 50px;
}
