@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
* {
  margin: 0;
  padding: 0;
}
.MainCont {
  background-image: url("./res/Bg.png");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(3px);
}

@media only screen and (max-width: 660px) {
  .Container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 80%;
    overflow: hidden;
    z-index: 100;
  }
  
}
